<?xml version="1.0" encoding="utf-8" ?>
<Servers>
  <Connect1>
    <SqlType>SQLITE</SqlType>
    <ServerPath>DB_XYJHZX.db</ServerPath>
    <DataBaseName>DB_XYJHZX</DataBaseName>
  </Connect1>
  <Connect2>
    <SqlType>ORACLE126</SqlType>
    <ServerAdr>http://200.10.6.250:9999/Servers.svc</ServerAdr>
  </Connect2>
</Servers>