<?xml version="1.0" encoding="utf-8" ?>
<Servers>
  <Connect1>
    <SqlType>SQLITE</SqlType>
    <ServerPath>DB_XYJHZX.db</ServerPath>
    <DataBaseName>DB_XYJHZX</DataBaseName>
  </Connect1>
  <Connect2>
    <SqlType>ORACLE126</SqlType>
    <ServerAdr>http://200.10.6.250:9999/Servers.svc</ServerAdr>
  </Connect2>
  <ORACLE>
    <SqlType>ORACLE</SqlType>
    <ServerIP>A8A8275D0AA06CC9EAD1567621C0DB70</ServerIP>
    <UserName>7F8E9C1CABBB2D5C</UserName>
    <UserPwd>BC8E13F7231581913021DCD6F5F03CB48FB757CB07E09571</UserPwd>
    <DatabaseName>5568CA1FAFAA5780</DatabaseName>
  </ORACLE>
  <SQLSERVER>
    <SqlType>SQLSERVER</SqlType>
    <ServerIP>BD210E6C383B58E7FBB4F60AED88CFCB</ServerIP>
    <UserName>7878F365CD6F97B707793ECC4D12FC6A</UserName>
    <UserPwd>EEE4E467A60F1FE232FE3ACC1D212E5A</UserPwd>
    <DatabaseName>75C6B320F1AD58B8</DatabaseName>
  </SQLSERVER>
  <SQLSVRNBA>
    <SqlType>SQLSERVER</SqlType>
    <ServerIP>A8A8275D0AA06CC92DED2754F624731D</ServerIP>
    <UserName>F413FEF001C715CB</UserName>
    <UserPwd>9D3DDFAFFBFDE3A0</UserPwd>
    <DatabaseName>83B054062E150545B858FD0B1486E35B</DatabaseName>
  </SQLSVRNBA>
  <SQLSVR168>
    <SqlType>SQLSERVER</SqlType>
    <ServerIP>A8A8275D0AA06CC92B39729C6D44CF1D</ServerIP>
    <UserName>2640AE1E503B7E76</UserName>
    <UserPwd>48AA0C4EFE1684C8177297297594774D</UserPwd>
    <DatabaseName>4D61FFFEE951302FBC6DD1F84797E3AF</DatabaseName>
  </SQLSVR168>
  <SQLSVR1610>
    <SqlType>SQLSERVER</SqlType>
    <ServerIP>BD210E6C383B58E7D99590EB2337FB72</ServerIP>
    <UserName>B5EF1D2D2B49DA2A</UserName>
    <UserPwd>77B5338F32C7D385E53EC9AE258C5E2B</UserPwd>
    <DatabaseName>DFFFB16E8E6DF33B1794C67DF48EAFFA</DatabaseName>
  </SQLSVR1610>
  <ORACLE241>
    <SqlType>ORACLE</SqlType>
    <ServerIP>A8A8275D0AA06CC9E7E322BE02154B48</ServerIP>
    <UserName>7F8E9C1CABBB2D5C</UserName>
    <UserPwd>BC8E13F7231581913021DCD6F5F03CB48FB757CB07E09571</UserPwd>
    <DatabaseName>5568CA1FAFAA5780</DatabaseName>
  </ORACLE241>
  <ORACLE126>
    <SqlType>ORACLE</SqlType>
    <ServerIP>A8A8275D0AA06CC9C4EC8E0B5D5B3B6C</ServerIP>
    <UserName>335ACCBC43DF458A</UserName>
    <UserPwd>267EDCB01DD80D1CF8FDA6862125FD92AD168DE9F936B56B</UserPwd>
    <DatabaseName>D8A240C6371B50D3</DatabaseName>
  </ORACLE126>
</Servers>