@{
    SelectList GroupDate = ViewBag.GroupDate;
    SelectList TeamDate = ViewBag.TeamDate;
    GroupDate.First().Selected = true;
    TeamDate.First().Selected = true;
}
<script type="text/javascript">
    function GetNewConnect() {

        var teamid = $('#txt_Team option:selected').val();
        if (isEmpty(teamid))
            teamid = "x";
        document.getElementById("aConnect").setAttribute("href", "/CurrentSchedul/ViewForTeam/" + $('#txt_Group option:selected').val() + "/" + teamid);
        //document.getElementById("aConnect").innerText = "/CurrentSchedul/ViewForTeam/" + $('#txt_Group option:selected').val() + "/" + teamid;
    }
</script>

<div>
    <ul>
        <li><label id="lab_NewSchedulDate" class="form-control-static">分组:</label></li>
        <li>@Html.DropDownList("txt_Group", GroupDate, new { @class = "form-control", @style = "width:200px", @onchange = "GetNewConnect()" })</li>
        <li><label id="lab_NewSchedulDate" class="form-control-static">分区:</label></li>
        <li>@Html.DropDownList("txt_Team", TeamDate, new { @class = "form-control", @style = "width:300px" , @onchange = "GetNewConnect()" })</li>
        <li><a id="aConnect" class="navbar-brand" href="/CurrentSchedul/ViewForTeam" target="_blank">打开新页面</a></li>
    </ul>
</div>