@{
    Layout = null;
    SelectList GroupDate = ViewBag.GroupDate;
    SelectList TeamDate = ViewBag.TeamDate;
    GroupDate.First().Selected = true;
    TeamDate.First().Selected = true;
}

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>佛山市第二人民医院 - 血液净化中心 - @ViewBag.Title </title>

    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery-1.4.4.min.js"></script>
    <script src="~/Scripts/jquery.jqprint-0.3.js"></script>
    <script src="/Scripts/modernizr-2.6.2.js"></script>
    <script src="~/Resourse/My97DatePicker/WdatePicker.js"></script>
    <script src="~/Scripts/judge.js"></script>
    <link href="/Content/bootstrap.css" rel="stylesheet" />
    <link href="/Content/site.css" rel="stylesheet" />
    <script src="/Scripts/bootstrap.js"></script>
    <script src="/Scripts/respond.js"></script>
    <script src="~/Scripts/jquery-migrate-1.2.1.min.js"></script>

</head>
<body style="background-color:#99CCFF;">
    <style type="text/css">
        ul li {
            list-style: none;
            padding: 0; /* 将默认的内边距去掉 */
            margin: 2px 8px 2px 2px; /* 将默认的外边距去掉 */
            float: left; /* 往左浮动 */
        }
    </style>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#6699CC">
        <div class="container">
            <div class="navbar-header">
                <div class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:30px;color:#FFFFFF;">血液净化中心</div>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:20px;color:#FFFFFF;" href="/MacGroup/Config">区域维护</a></li>
                    <li><a class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:20px;color:#FFFFFF;" href="/Patient/PatientManage">病人维护</a></li>
                    <li><a class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:20px;color:#FFFFFF;" href="/Schedul/SchedulConfig">检查排队</a></li>
                    <li><a class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:20px;color:#FFFFFF;" href="/CurrentSchedul/CurrentManage">视图管理</a></li>
                    <li><a class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:20px;color:#FFFFFF;" href="/Schedul/SchedulExplorer" target="_blank">表格打印</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
    <div class="container body-content" style="background-color:#99CCFF;">
        <script type="text/javascript">
            function GetNewConnect() {
                var teamid = $('#txt_Team option:selected').val();
                if (isEmpty(teamid))
                    teamid = "x";
                document.getElementById("aShowConnect").setAttribute("href", "/CurrentSchedul/ViewForTeam/" + $('#txt_Group option:selected').val() + "/" + teamid);
                document.getElementById("aSignInConnect").setAttribute("href", "/Schedul/SchedulSignIn/" + $('#txt_Group option:selected').val());
            }
        </script>

        <div>
            <ul>
                <li><label id="lab_NewSchedulDate" class="form-control-static">分组:</label></li>
                <li>@Html.DropDownList("txt_Group", GroupDate, new { @class = "form-control", @style = "width:200px", @onchange = "GetNewConnect()" })</li>
                <li><label id="lab_NewSchedulDate" class="form-control-static">分区:</label></li>
                <li>@Html.DropDownList("txt_Team", TeamDate, new { @class = "form-control", @style = "width:300px", @onchange = "GetNewConnect()" })</li>
                <li><a id="aShowConnect" class="navbar-brand" href="/CurrentSchedul/ViewForTeam" target="_blank">打开显示页面</a></li>
                <li>
                    <a id="aSignInConnect" class="navbar-brand" href="/Schedul/SchedulSignIn" target="_blank">打开签到页面</a>
                </li>
            </ul>
        </div>

    </div>

    <div style="clear:both;"></div>

    <br />
    <hr />
    <div class="clearfix">
        <footer>
            <p>&copy; @DateTime.Now.Year - 佛山市第二人民医院</p>
        </footer>
    </div>

</body>
</html>