@{
    Layout = null;

    var str_SchedulDate = ViewBag.SchedulDate;
    var str_GroupId = ViewBag.GroupId;
    var str_SchedulTime = ViewBag.SchedulTime;
}
<head>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/judge.js"></script>
</head>
<body style="background-color:#FFCC99;overflow-y:hidden;">
    <div style="display:none"><input id="txt_IDCard" onchange="SignIn();" /></div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#FFCC99">
        <div class="container" style="font-family:'Microsoft YaHei UI';font-size:16px;color:#336699">
            <div class="navbar-header">
                <div class="navbar-brand" style="font-family:'Microsoft YaHei UI';font-size:30px;color:#336699;">血液净化中心 - 请将身份证放在读卡器上等待3秒</div>
                <div id="DivTitle"></div>
            </div>
        </div>
    </div>
    <div id="divTableShow" class="container body-content" style="background-color:#FFFFCC;margin-top:20px">
        @{Html.RenderAction("SchedulSignInView", "Schedul", new { SchedulDate = str_SchedulDate, GroupId = str_GroupId, SchedulTime = str_SchedulTime });}
    </div>
    <object classid="clsid:5EB842AE-5C49-4FD8-8CE9-77D4AF9FD4FF" id="IdrControl1" style="display:none;" />
</body>

<script type="text/javascript">
    function SignIn() {
    }
    function updateTime() {
        var timestamp = new Date();
        document.getElementById("DivTitle").innerText = timestamp.toLocaleString();
    }
    function refresh() {
        location.reload(true);
    }
    function change(table) {
        for (x = 0; x < 6; x++) {
            var row = table.insertRow(table.rows.length);
            for (j = 0; j < table.rows[0].cells.length; j++) {
                var cell = row.insertCell(j);
                cell.height = "24px";
                cell.innerHTML = table.rows[0].cells[j].innerHTML;
            }
            table.deleteRow(0);
        }
    }
    function tableInterval() {
        var table = document.getElementById("SchedulSignInViews");
        change(table);
    }
    updateTime();
    setInterval(updateTime, 1000);
    setInterval('tableInterval()', 3000);
    setInterval(refresh, 12000);

    function Idcard() {
        //var id = 'txt_IDCard';

        IdrControl1.InitComm("1001");



        if (IdrControl1.Authenticate() == 1) {

            var result;
            result = IdrControl1.ReadCard("1001", "");

            if (result == 1) {

                var IDCode = IdrControl1.GetCode();
                $('#txt_IDCard').val(IdrControl1.GetCode());
                //divFadeAlert($('#txt_IDCard').val() + '签到中。。。');
                IdrControl1.CloseComm();
                if(!isEmpty(IDCode))
                {
                    $.ajax({
                        type: "post",
                        url: "/Schedul/SignInIDCard",
                        data: {
                            "IDCard": $('#txt_IDCard').val(),
                            "GroupId": @str_GroupId,
                        },
                        //dataType: "json",
                        async: true,
                        traditional: false,
                        success: function (data) {
                            divFadeAlert($('#txt_IDCard').val() + '签到成功！');
                            $('#divTableShow').empty().append(data);
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            divFadeAlert("签到失败：" + errorThrown);
                        }
                    });
                }
                $('#txt_IDCard').val('');


            } else {
                if (result == -1)
                    divFadeAlert("端口初始化失败！");
                if (result == -2)
                    divFadeAlert("请重新将卡片放到读卡器上！");
                if (result == -3)
                    divFadeAlert("读取数据失败！");
                if (result == -4)
                    divFadeAlert("生成照片文件失败，请检查设定路径和磁盘空间！");
            }
        }
    }


    //window.setTimeout(Idcard, 5000);
    window.setInterval(Idcard, 3000);     //测试通过  可以使用

    function divFadeAlert(obj) {
        var hidvalue_str = obj;
        var divWidth = 150;
        var divHeight = 150;
        var iLeft = ($(window).width() - divWidth) / 2;
        var iTop = ($(window).height() - divHeight) / 2 + $(document).scrollTop();
        var divhtml = $("<div>" + hidvalue_str + "</div>").css({
            position: 'absolute', top: iTop + 'px', left: iLeft + 'px', display: 'none', width: divWidth + 'px', height: divHeight + 'px', 'background-color': '#FFFFFF', 'font-family': 'Microsoft YaHei UI', 'font-size': '30px' });
        divhtml.appendTo('body').fadeIn();
        divhtml.appendTo('body').fadeOut(3000);
    }
</script>
