<script type="text/javascript">
  
</script>



<div>
    <div id="NewSchedulDiv" class="pull-left">
        @{Html.RenderAction("GetNewSchedul");}
    </div>
    <div id="OldSchedulDiv" class="pull-right">
        @{Html.RenderAction("GetOldSchedul");}
    </div>
</div>