<script type="text/javascript">
    function ImpPatInf() {

    }
    function SelectPatInf() {
        //$("#txt_PatName").val('yes');
        $.ajax({
            type: "post",
            url: "/Patient/GetSelectPatient",
            data: { "condition": $('#txt_PatName').val() },
            //dataType: "json",
            async: true,
            traditional: false,
            beforeSend: function () {
                $('#PatDiv').empty().append("<h2>数据加载中。。。</h2>");
            },
            success: function (data) {
                $('#PatDiv').empty().append(data);
            },
            error: function (XMLHttpRequest, textStatus, errorThrown) {
                alert("加载失败：" + errorThrown);
            }
        });
    }
</script>

<div>
    <ul>
        <li><input id="btn_PatImp" class="btn-success" type="submit" value="导入已缴费病人资料" onclick="ImpPatInf()" style="margin:3px 20px 0 0;" /></li>
        <li><label id="lab_PatName" class="form-control-static">姓名/卡号:</label></li>
        <li><input id="txt_PatName" type="text" class="form-control" style="width:180px" value="" /></li>
        <li><input id="btn_PatSelect" class="btn-info" type="submit" value="查 询" onclick="SelectPatInf()" style="margin:3px 20px 0 0;" /></li>
    </ul>
</div>
<br />
<div id="PatDiv" style="overflow:scroll;height:800px;clear:both; margin:4px 0 4px 0">
    @{Html.RenderAction("GetPatient");}
</div>