
<div class="pull-left">
    <div id="TitleDiv" style="width:550px;height:700px;overflow-y:scroll;">
        @{Html.RenderAction("Titles", "SchedulItem");}
    </div>
</div>
<div class="pull-right">
    <div id="ItemsDev" style="width:550px;height:700px;overflow-y:scroll;">
        @{Html.RenderAction("Items", "SchedulItem");}
    </div>
</div>
